div
	header
		nav.site-header
			a.site-logo(href='/') Guilherme Defreitas
			ul.menu
				
				- if(req.url == "/" || req.url == "/search" )
					li.selected 
						a(href='/', rel="prefetch")!= __('Blog') 
				- else
					li 
						a(href='/', rel="prefetch")!= __('Blog') 
				
				- if(req.url == "/projects")
					li.selected 
						a(href='/projects', rel="prefetch")!= __('Projetos')
				- else
					li
						a(href='/projects', rel="prefetch")!= __('Projetos')
				
				- if(req.url == "/about")
					li.selected 
						a(href='/about', rel="prefetch")!= __('Sobre')
				- else
					li 
						a(href='/about', rel="prefetch")!= __('Sobre')
				li
					a#search-button(href="#") 
						| <i class="fa fa-search"></i>
				li
					a(href="http://feeds.feedburner.com/guidefreitas/RTlL") 
						| <i class="fa fa-rss"></i>
		div.clear
				