extends ../layout

block content
	article#projects
		header
			include ../search_field
		
		- each project in projects
			div#project.content
				section
					div.project-image
						img(src=project.project_image_url)
					div.project-description
						h2 
							a(href='#')!= project.name
						p.description!= md.parse(project.description)
						- if(project.website_link)
							a(href=project.website_link)!= 'Confira! ' +  project.website_link

						- if(project.download_link)
							a(href=project.download_link)!= 'Download!'

						<ul id="stores">
						- if(project.ios_app_store_link)
							li
								a(href=project.ios_app_store_link)
									<img src="/img/stores/app_store_normal.png" width="120" height="40">

						- if(project.mac_app_store_link)
							li
								a(href=project.mac_app_store_link)
									<img src="/img/stores/app_store_normal.png" width="120" height="40">
						
						- if(project.marketplace_link)
							li
								a(href=project.marketplace_link)
									<img src="/img/stores/marketplace_normal.png" width="120" height="40">
						
						- if(project.google_play_link)
							li
								a(href=project.google_play_link)
									<img src="/img/stores/google_play_normal.png" width="120" height="40">
						
						</ul>				